<h1>Listing loots</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @loots.each do |loot| %>
      <tr>
        <td><%= link_to 'Show', loot %></td>
        <td><%= link_to 'Edit', edit_loot_path(loot) %></td>
        <td><%= link_to 'Destroy', loot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Loot', new_loot_path %>
