<h1>Listing character_classes</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @character_classes.each do |character_class| %>
      <tr>
        <td><%= link_to 'Show', character_class %></td>
        <td><%= link_to 'Edit', edit_character_class_path(character_class) %></td>
        <td><%= link_to 'Destroy', character_class, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Character class', new_character_class_path %>
