// Place all the styles related to the Characters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$death_knight: #C41F3B;
$druid: #FF7D0A;
$hunter: #ABD473;
$mage: #69CCF0;
$monk: #00FF96;
$paladin: #F58CBA;
$priest: #FFFFFF;
$rogue: #FFF569;
$shaman: #0070DE;
$warlock: #9482C9;
$warrior: #C79C6E;

$negative: #ff0000;
$positive: #00ff00;

.negative {
    color: $negative;
}

.positive {
    color: $positive;
}

.death_knight {
    color: $death_knight
}
.druid {
    color: $druid
}
.hunter {
    color: $hunter
}
.mage {
    color: $mage
}
.monk {
    color: $monk
}
.paladin {
    color: $paladin
}
.priest {
    color: $priest
}
.rogue {
    color: $rogue
}
.shaman {
    color: $shaman
}
.warlock {
    color: $warlock
}
.warrior {
    color: $warrior
}
